
@{
    ViewData["Title"] = "Create";
}

<h1>Claim adding</h1>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label for="claimType">Claim type</label>
        <input type="text" name="claimType" id="claimType class="form-control" />
    </div>
    <div class="mb-3">
        <label for="claimValue">Claim value</label>
        <input type="text" name="claimValue" id="claimType class="form-control" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-outline-primary">Add</button>
    </div>
</form>
<a asp-aciton="Index">Return to claims list</a>

